h1 {
    color: rgb(68, 4, 4);
    font-family: 'Trebuchet MS';
    text-align:start;

}

h2 {
    color: rgb(141, 7, 7);
    font-family: 'Trebuchet MS';
    text-align:center;
}

.aRec {
    display: inline-block;
    background-color:azure;
    height: 210px;
    width: 420px;
    text-align: center;
    float:left;
    margin-right: 10px;
    margin-left: 50px; 
    border-style: outset;
    margin-top: 150px;

}
.aRec:hover {
background-color: rgb(245, 237, 237);
}

.aCirc h2 {
    color: rgb(105, 51, 204);
    font-family: 'Trebuchet MS';
    text-align:initial;
    text-align:center;

    }
.aCirc {
    display:inline-block;
    background-color:rgb(141, 247, 247);
    border-radius: 200%;
    width: 400px;
    height: 400px;
    text-align: center;
    border-top:  1px solid red;
    float: left;
    margin-top: 50px;
    } 

.aCirc:hover {
    background-color: rgb(253, 255, 127);
}

.triangle-up {
    width: 100;
	height: 100;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid rgb(238, 59, 59);
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    float: left;
    
}
.triangle-up:hover {
    background-color:rgb(3, 148, 148);
}

body {
    background-color: rgb(240, 245, 247);
}